<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Cache cleaner!</title>
        <link rel="stylesheet" href="../style/popup.css"/>
    </head>
    <body>
        <header>
            <img src="../images/logo.png"/>
            <h1>Cache Cleaner</h1>
            <small>V1.0</small>
        </header>

        <section>
            <h2>O que deseja limpar?</h2>
            <span id="error"></span>

            <button id="btn_cache">Cache</button>
            <button id="btn_storage">Storage</button>
            <button id="btn_cookies">Cookies</button>

            <div class="divider"></div>

            <button id="btn_everything">LIMPAR TUDO</button>
        </section>

        <script src="../scripts/popup.js"></script>
    </body>
</html>